@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Define color variables */
:root {
  --color-background: #212529;
  --color-primary: #2bf01d;
  --color-secondary: #41a03a;
  --color-text-white: #fff;
  --color-text-light: #ccc;
  --color-text-dark: #292b2e;
  --color-border: transparent;
  --color-border-hover: #32692e;
  --color-icon-background: #fff;
  --color-icon-hover: #32692e;
  --color-footer-background: #1c1c1c;
  --color-footer-text: #7b7b7b;
  --color-quiz: dodgerblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: var(--color-background);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: var(--color-primary);
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: var(--color-primary);
}

.navbar ul li:last-child a {
  margin: 0;
}

#quiz {
  font-weight: 800;
}

.hire-btn {
  background: var(--color-primary);
  padding: 6px 30px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.hire-btn:hover {
  background: var(--color-secondary);
}

.main h4 {
  font-size: 36px;
  font-weight: 600;
}

.main h4 span {
  color: var(--color-primary);
  text-decoration: underline;
}

.main p.title {
  font-size: 44px;
  font-weight: 600;
  color: var(--color-text-white);
  margin-top: 8px;
}

main p.subtitle {
  font-size: 16px;
  color: var(--color-text-light);
  margin-top: 20px;
}

.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.guarantee {
  margin-top: 50px;
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.guarantee .item {
  background: var(--color-text-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 0 30px;
  border: 1px solid var(--color-border);
  cursor: pointer;
  transition: all 0.3s ease;
}

.guarantee .item:hover {
  border-color: var(--color-border-hover);
}

.guarantee .item .icon {
  width: 46px;
  height: 46px;
  background: var(--color-icon-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guarantee .item:hover .icon {
  background-color: var(--color-icon-hover);
}

.guarantee .item .icon i {
  font-size: 30px;
}

.guarantee .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guarantee .item .info h3 {
  color: var(--color-primary);
  font-size: 28px;
}

.guarantee .item .info p {
  color: var(--color-text-white);
  font-size: 15px;
  font-weight: 600;
}

.guarantee .item > i {
  color: var(--color-text-white);
  font-size: 30px;
  transition: color 0 3s ease;
}

.guarantee .item:hover > i {
  color: var(--color-primary);
}

.separator {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: var(--color-primary);
  border-radius: 12px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}

.about img {
  width: 280px;
}

.about .info h3 {
  color: var(--color-text-white);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .info p {
  color: var(--color-text-light);
  font-size: 14px;
}

.about .info p span {
  color: var(--color-primary);
}

.about .info p a {
  text-decoration: none;
  color: var(--color-secondary);
}

.about .info button {
  margin-top: 30px;
}

.skills {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.skills .left {
  width: 680px;
}

.skills .left .info h3 {
  color: var(--color-text-white);
  font-size: 30px;
  margin-bottom: 20px;
}

.skills .left .info p {
  color: var(--color-text-light);
  font-size: 14px;
}

.skills .left button {
  margin-top: 30px;
}

.skills .right {
  width: 420px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skills .right .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #383e45;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.skills .right .item i {
  font-size: 34px;
  color: var(--color-text-white);
}

footer {
  position: relative;
  background: var(--color-footer-background);
  padding: 80px 50px 40px;
  margin-top: 100px;
}

footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: var(--color-primary);
  padding: 30px 25px;
  border-radius: 15px;
  width: 70%;
  top: -16%;
  left: 15%;
}

footer .start p {
  font-size: 13px;
  width: 35%;
}

footer .start button {
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

footer .start button:hover {
  background-color: #fff;
  border-color: #fff;
}

footer .cols {
  display: flex;
  align-items: start;
}

footer .cols .about-col {
  flex: 3;
}

footer .cols .about-col h3 {
  color: var(--color-primary);
  margin-bottom: 20px;
}

footer .cols .about-col p {
  color: var(--color-text-light);
  font-size: 13px;
}

footer .cols .links-col {
  flex: 3;
}

footer .cols .links-col h4,
footer .cols .news-col h4 {
  color: var(--color-text-white);
  margin-bottom: 20px;
}

footer .cols .links-col a {
  display: block;
  text-decoration: none;
  color: var(--color-footer-text);
  font-size: 14px;
  line-height: 26px;
  transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
  color: var(--color-primary);
}

footer .cols .news-col {
  flex: 3;
}

footer .cols .news-col p {
  color: var(--color-footer-text);
  font-size: 15px;
}

footer .cols .news-col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

footer .cols .news-col form input {
  width: 100%;
  background: var(--color-background);
  border: none;
  padding: 13 px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 13px;
}

footer .cols .news-col form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: var(--color-primary);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover {
  background-color: var(--color-secondary);
}

footer .cols .news-col form button i {
  font-size: 26px;
}

@media screen and (max-width: 1100px) {
  .guarantee {
    flex-wrap: wrap;
    gap: 10px;
  }

  .guarantee .item {
    flex-basis: 49%;
  }

  .skills {
    justify-content: space-between;
    gap: 20px;
  }

  .skills .left {
    width: 500px;
  }

  .skills .left .info h3 {
    font-size: 22px;
  }

  .skills .left .info p {
    font-size: 12px;
  }

  footer {
    margin-top: 150px;
  }

  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }

  footer .cols {
    flex-wrap: wrap;
  }

  footer .cols .about-col {
    flex-basis: 50%;
  }

  footer .cols .links-col {
    flex-basis: 50%;
  }

  footer .cols .news-col {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 700px) {
  .navbar button {
    display: none;
  }

  .main h4 {
    font-size: 24px;
  }

  .main p.title {
    font-size: 36px;
  }

  .main p.subtitle {
    font-size: 14px;
  }

  .guarantee .item {
    flex-basis: 100%;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    justify-content: center;
  }

  .navbar h2 {
    display: none;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .main {
    margin-top: 50px;
    height: 320px;
    justify-content: start;
  }

  .main h4 {
    font-size: 20px;
  }

  .main p.title {
    font-size: 28px;
  }

  .main p.subtitle {
    font-size: 12px;
  }

  .main img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills .right {
    justify-content: space-between;
  }

  .skills .left .info h3 {
    font-size: 20px;
  }

  footer .start {
    top: -10%;
  }

  footer .start p {
    display: none;
  }

  footer .cols .about-col {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  footer .cols .links-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  footer .cols .news-col {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main p.title {
    font-size: 18px;
  }

  .main p.subtitle {
    font-size: 10px;
  }

  .guarantee .info .item h3 {
    font-size: 20px;
  }

  .guarantee .item .info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar h2 {
    margin: 0;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: var(--color-text-white);
    font-size: 14px;
  }

  .main {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .main h4 {
    font-size: 22px;
  }

  .main p.title {
    font-size: 28px;
  }

  .main p.subtitle {
    font-size: 12px;
  }

  .main img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }

  .guarantee {
    flex-direction: column;
    padding: 0 20px;
  }

  .guarantee .item {
    width: 100%;
    margin-bottom: 10px;
  }

  .about {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .about img {
    width: 200px;
    margin-bottom: 20px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .skills .left {
    flex: 1;
  }

  .skills .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .skills .right .item {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  footer {
    padding: 40px 20px;
  }

  footer .start {
    width: 100%;
    top: -10%;
    padding: 20px;
    text-align: center;
  }

  footer .start p {
    display: block;
    font-size: 12px;
  }

  footer .cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  footer .cols .links-col {
    flex: 1;
    margin: 0 20px;
  }

  footer .cols .links-col h4 {
    color: var(--color-text-white);
    margin-bottom: 10px;
  }

  footer .cols .links {
    display: flex;
    flex-direction: column;
  }

  footer .cols .links a {
    display: block;
    text-decoration: none;
    color: var(--color-footer-text);
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
  }

  footer .cols .links a:hover {
    color: var(--color-primary);
  }

  footer .cols .about-col,
  footer .cols .news-col {
    flex-basis: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  footer .cols .news-col form input {
    font-size: 12px;
    color: var(--color-text-white);
  }

  footer .cols .news-col form button {
    width: 40px;
    height: 40px;
  }

  footer .cols .news-col form button i {
    font-size: 20px;
    color: var(--color-text-white);
  }

  footer .socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  footer .socials a {
    margin: 0 10px;
    color: var(--color-footer-text);
    font-size: 20px;
    transition: color 0.3s ease;
  }

  footer .socials a:hover {
    color: var(-- color-primary);
  }
}
